body {
  font-family: cairo ;
 background-image: url(./img/KuwaitCodesWallpaper.png);
  text-align: center;
  background-size: cover;
}

/* المطلوب الثاني هنا */
nav {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;

}
.nav-elements {
  display: flex;
  justify-content: space-between ;
  width: 150px;
  
}
.one:hover{
  color: grey;
}

.two:hover{
  color: grey;
}
.card {
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 10px 10px grey ;
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 5px 5px  grey;
  border-radius: 180px;
}
img:hover{
  width: 180px;
  height: 180px;
  background: red;
  transition: width 0.5s, height 0.5s, transform 0.5s;
  transition-timing-function: ease-in-out;
}


.hobbies {
  /* المطلوب السادس هنا */
 
  display: grid;
  gap: 10px;
  grid-auto-flow: column;

}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

